* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Open Sans;
}

header {
  height: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgb(103, 104, 103);
}

main {
  background-color: rgb(28, 28, 28);
  color: white;
  padding: 50px 0;
}

.container {
  max-width: 70%;
  margin: 0 auto;
}

#links {
  list-style-type: none;
  display: flex;
}

ul li {
  margin: 0 15px;
  font-weight: 800;
}